﻿@model IEnumerable<NetflixBlog.Models.Comment>

@{
    ViewData["Title"] = "Index";
}

<h1>Comments</h1>

<p>
<p class="btn btn-lg btn-add-movie" href="#" role="button">
    <a asp-action="Create" style="color: white;">
        Add Comment
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AuthorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Post.Title)
                </td>
                <td>
                    @*                    @Html.ActionLink("Edit", "Edit", new { id = item.CommentID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.CommentID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.CommentID })*@
                    <a class="btn btn-search-movies" asp-action="Edit" asp-route-id="@item.CommentID">Edit</a> |
                    <a class="btn btn-search-movies" asp-action="Details" asp-route-id="@item.CommentID">Details</a> |
                    <a class="btn btn-search-movies" asp-action="Delete" asp-route-id="@item.CommentID">Delete</a>

                </td>
            </tr>
        }
    </tbody>
</table>
