﻿@model IEnumerable<NetflixBlog.Models.Actor>

@{
    ViewData["Title"] = "Index";
}

<div class="container row">
    <div class="list-inline buttons">
        <form asp-action="Pie">
            @if (Context.User != null && Context.User.Claims != null && Context.User.Claims.Count() > 0)
            {
                <p class="btn btn-lg btn-add-movie" href="#" role="button">
                    <a asp-action="Create" style="color: white;">
                        Add Actor
                    </a>
                </p>

            }
        </form>
    </div>
</div>

<h3 class="filter-title">Filter actors by</h3>

<div style="margin-bottom: auto">
    <form asp-action="Index" method="post">
        <div class="form-row">
            <div class="form-group col-md-6">
                <input name="searchFirstName" type="text" class="form-control" placeholder="First Name" />
            </div>
            <div class="form-group col-md-6">
                <input name="searchLastName" type="text" class="form-control" placeholder="Last Name" />
            </div>
        </div>
        <input class="btn btn-search-movies" type="submit" value="Search" />
    </form>
</div>

<div style="margin-top: 50px; display: flex; justify-content: space-around;flex-wrap: wrap;">
    @foreach (var item in Model)

    {
        <div style="width: 350px;">
            <div class="card-actor u-clearfix">
                <div class="card-media">
                    
                </div>
                <div class="card-body">
                    <div class="card-body-title">
                        <h4 style="width:45%;" class="card-body-heading">
                            <a asp-action="Details"
                               asp-route-id="@item.ActorId">@item.FirstName @item.LastName</a>
                        </h4>
                    </div>
                </div>
                <!--<div class="small-text">Season  seasons, Episodes  |</div>
                <div class="">Released:</div>
                <div>Producer:</div> -->
                @if (Context.User != null && Context.User.Claims != null && Context.User.Claims.Count() > 0)

                {
                    <div>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ActorId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ActorId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ActorId })
                    </div>

                }
            </div>
        </div>

    }
</div>