﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NetflixBlog</title>
    <link rel="shortcut icon" href="~/netflix_icon.ico" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/home_page.css" type="text/css" />
    <link rel="stylesheet" href="~/css/about.css" type="text/css" />
    <link rel="stylesheet" href="~/css/admin_login.css" type="text/css" />
    <link rel="stylesheet" href="~/css/register.css" type="text/css" />
    <link rel="stylesheet" href="~/css/trailer.css" type="text/css" />

</head>

<body>
    <header>
        <div class="blog-app-bar">
            <h6 class="blog-title">
                <div id="imageWrapper">
                    <img class="netflixPic" src="~/images/Netflix.png" width="130" /> @Html.ActionLink("Blog", "Index",
                    "Posts")
                </div>
            </h6>
            <div style="width: 90%">
                <nav class="nav" style="width:100%">
                    <!-- Navigation -->
                    <ul>
                        <li class="nav-link">@Html.ActionLink("Series", "Index", "Series")</li>
                        <li class="nav-link">@Html.ActionLink("Posts", "Filter", "Posts")</li>
                        <li class="nav-link">@Html.ActionLink("Locations", "Locations", "Series")</li>
                        <li class="nav-link">@Html.ActionLink("About", "About", "Home")</li>
                        @if (Context.User != null && Context.User.Claims != null && Context.User.IsInRole("Admin"))
                        {
                            <li class="nav-link">@Html.ActionLink("Users", "Index", "Users")</li>
                            <li class="nav-link">@Html.ActionLink("Actors", "Index", "Actors")</li>
                        }
                        @if (Context.User != null && Context.User.Claims != null && Context.User.Claims.Count() > 0)
                        {
                            <li class="nav-link dropdown options-dropdown">
                                <button class="dropbtn options-btn">Options</button>
                                <ul class="dropdown-content">
                                    <li class="nav-link">@Html.ActionLink("Comments", "Index", "Comments")</li>
                                    <li class="nav-link">@Html.ActionLink("Tweet", "Create", "Twitter")</li>
                                    <li class="nav-link">@Html.ActionLink("Logout", "Logout", "Users")</li>
                                </ul>
                            </li>

                        }
                        else
                        {
                            <li class="nav-link">@Html.ActionLink("Login", "Login", "Users")</li>
                        }

                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <main role="main" class="main-background">
        <aside class="col-sm-2 aside">
            <div class="sidebar-module">
                <ul>
                    <li class="nav-link">@Html.ActionLink("Series", "Index", "Series")</li>
                    <li class="nav-link">@Html.ActionLink("Posts", "Filter", "Posts")</li>
                    <li class="nav-link">@Html.ActionLink("Locations", "Locations", "Series")</li>
                    <li class="nav-link">@Html.ActionLink("About", "About", "Home")</li>
                </ul>
            </div>
        </aside>

        <div class="container" style="width:80%;">
            <div class="col-sm-12 blog-main">
                @RenderBody()
            </div>
        </div>
    </main>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - NetflixBlog - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
