﻿@model NetflixBlog.Models.Series

@{

    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Series</h4>
<hr />
<div class="form-horizontal" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="fields-row">
                <div class="movie-field">
                    <label asp-for="Name" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="fields-row">
                <div class="movie-field">
                    <label asp-for="Genre" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <select asp-for="Genre" class="form-control"
                            asp-items="@Html.GetEnumSelectList<Genre>()"></select>
                        <span asp-validation-for="Genre" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="fields-row">
                <div class="movie-field">
                    <label asp-for="Producer" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <input asp-for="Producer" class="form-control" />
                        <span asp-validation-for="Producer" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="fields-row">
                <div class="movie-field">
                    <label asp-for="ReleaseDate" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <input asp-for="ReleaseDate" class="form-control" />
                        <span asp-validation-for="ReleaseDate" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="fields-row">
                <div class="movie-field">
                    <label asp-for="SeasonsNums" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <input asp-for="SeasonsNums" class="form-control" />
                        <span asp-validation-for="SeasonsNums" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="fields-row">
                <div class="movie-field">
                    <label asp-for="EpisodesNums" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <input asp-for="EpisodesNums" class="form-control" />
                        <span asp-validation-for="EpisodesNums" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="fields-row">
                <div class="movie-field">
                    <label asp-for="Language" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <select asp-for="Language" class="form-control"
                            asp-items="@Html.GetEnumSelectList<Language>()"></select>
                        <span asp-validation-for="Language" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="fields-row">
                <div class="movie-field">
                    <label asp-for="ImageFile" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <input asp-for="ImageFile" />
                        <span asp-validation-for="ImageFile" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="fields-row">
                <div class="movie-field">
                    <label asp-for="TrailerPath" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <input asp-for="TrailerPath" class="form-control" />
                        <span asp-validation-for="TrailerPath" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="fields-row">
                <div class="movie-field">
                    <label asp-for="Actors" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        @Html.ListBox("Actors", (List<SelectListItem>)ViewBag.Actors)
                        <span asp-validation-for="Actors" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="fields-row">
                <div class="movie-field">
                    <label asp-for="Map.Location.Latitude" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <input asp-for="Map.Location.Latitude" class="form-control" />
                        <span asp-validation-for="Map.Location.Latitude" class="text-danger"></span>
                    </div>
                </div>
                <div class="movie-field">
                    <label asp-for="Map.Location.Longtitude" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <input asp-for="Map.Location.Longtitude" class="form-control" />
                        <span asp-validation-for="Map.Location.Longtitude" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="fields-row">
                <div class="movie-field">
                    <div class="col-md-offset-2 col-md-10" style="margin-top:25px;margin-left:0!important;">
                        <input style="width:50%; margin-top:30px;" type="submit" value="Create" class="btn btn-default">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@* <div class="movie-field">
    <label asp-for="Location" class="control-label col-md-2"></label>
    <div class="col-md-10">
    <input asp-for="Location" class="form-control" />
    <span asp-validation-for="Location" class="text-danger"></span>
    </div>
    </div> *@

<div class="read-more" style="margin:0 0 0 17px;">
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
