﻿@model NetflixBlog.Models.Series

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Series</h4>
    <hr />
    <div style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Producer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Producer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SeasonsNums)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SeasonsNums)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EpisodesNums)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EpisodesNums)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Language)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Language)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Map.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Map.Location)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TrailerPath)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TrailerPath)
        </dd>
    </dl>
    </div>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SeriesID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
