﻿@model NetflixBlog.Models.Series

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Series</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Producer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Producer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SeasonsNums)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SeasonsNums)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EpisodesNums)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EpisodesNums)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Language)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Language)
        </dd>
        <dd>
            <div>
                @if(Model.Image != null)
                {
                    string img = Convert.ToBase64String(Model.Image);
                    <img src="data:image/png;base64, @img" width="50" height="50" alt="" class="card-media-img detailsImage"/>
                } else {
                    <span>Image not found to series</span>
                }
            </div>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Map.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Map.Location)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TrailerPath)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TrailerPath)
        </dd>
    </dl>
</div>

@*<div class="form-group">*@
    <label asp-for="Actors" class="control-label"></label>
    <select asp-for="Actors" class ="form-control" asp-items="ViewBag.Actors"></select>
@*</div>*@

<p>
    @if (Context.User != null && Context.User.Claims != null && Context.User.IsInRole("Admin"))
    {
        <a asp-action="Edit" asp-route-id="@Model.SeriesID">Edit |</a>
    }
    <a asp-action="Index">Back to List</a>
</p>
