﻿@model IEnumerable<NetflixBlog.Models.Series>

@{

    ViewData["Title"] = "Index";
}

<div class="container row">
    <div class="list-inline buttons">
        <form asp-action="Pie">
            <input class="btn btn-lg btn-stats" type="submit" value="Series Stats" />
            @if (Context.User != null && Context.User.Claims != null && Context.User.Claims.Count() > 0)
            {
                <p class="btn btn-lg btn-add-movie" href="#" role="button"><a asp-action="Create" style="color: white;">Add
                        Series</a></p>

            }
        </form>
    </div>
</div>

<h3 class="filter-title">Filter series by</h3>

<div style="margin-bottom: auto">
    <form asp-action="Index" method="post">
        <div class="form-row">
            <div class="form-group col-md-6">
                <input name="searchName" type="text" class="form-control" placeholder="Name" />
            </div>
            <div class="form-group col-md-2">
                <select name="searchGenre" class="form-control" asp-items="@Html.GetEnumSelectList<Genre>()">
                    <option value="">Select genre</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <select name="searchLanguage" class="form-control"
                    asp-items="@Html.GetEnumSelectList<Language>()">
                        <option value="">Select language</option>
                    </select>
            </div>
            <div class="form-group col-md-2">
                <input name="searchReleaseDate" type="text" class="form-control" placeholder="Since Year" />
            </div>
        </div>
        <input class="btn btn-search-movies" type="submit" value="Search" />
    </form>
</div>

<div style="margin-top: 50px; display: flex; justify-content: space-around;flex-wrap: wrap;">
    @foreach (var item in Model)

    {
        <div style="width: 350px;">
            <div class="card u-clearfix">
                <div class="card-media">
                    @if (item.Image != null)
                    {
                        string img = Convert.ToBase64String(item.Image);
                        <img src="data:image/png;base64, @img" width="75" height="75" alt="" class="card-media-img" />
                    }
                    else
                    {
                        <span>Image not found to series</span>

                    }
                    <a class="card-media-preview u-flex-center" asp-action="Trailer" asp-route-id="@item.SeriesID">
                        <svg fill="#ffffff" height="18" viewBox="0 0 24 24" width="18" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8 5v14l11-7z" />
                            <path d="M0 0h24v24H0z" fill="none" />
                        </svg>
                    </a>
                    <span class="card-media-tag card-media-tag-orange">@item.Genre</span>
                </div>

                <div class="card-body">
                    <div class="card-body-title">
                        <h4 style="width:45%;" class="card-body-heading"><a asp-action="Details"
                            asp-route-id="@item.SeriesID">@item.Name</a></h4>
                        <div class="card-body-stars u-clearfix">
                            <div class="first-row" style="display:inline-flex;">
                                <svg fill="#ebb91a" height="25" viewBox="0 0 18 18" width="25"
                                xmlns="http://www.w3.org/2000/svg" style="margin-top:-3px;">
                                    <path d="M9 11.3l3.71 2.7-1.42-4.36L15 7h-4.55L9 2.5 7.55 7H3l3.71 2.64L5.29 14z" />
                                    <path d="M0 0h18v18H0z" fill="none" />
                                </svg>
                                <span class="imdbRating"> </span>
                            </div>
                            <div class="second-row">
                                <span class="imdbVoters"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="small-text">Season @item.SeasonsNums seasons, Episodes @item.EpisodesNums | @item.Language</div>
                <div class="">Released: @item.ReleaseDate.ToShortDateString()</div>
                <div>Producer: @item.Producer</div>
                @if (Context.User != null && Context.User.Claims != null && Context.User.Claims.Count() > 0)

                {
                    <div>
                        @Html.ActionLink("Edit", "Edit", new { id = item.SeriesID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.SeriesID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.SeriesID })
                    </div>

                }
            </div>
        </div>

    }
</div>

@section Scripts {
    <script src="~/js/SeriesRatingScript.js"></script>
    <script>
        updateSeriesRate();
    </script>
}