﻿<div id='printoutPanel'></div>

<div id='myMap' style='width: 73vw; height: 85vh;'></div>
@section Scripts {
<script type='text/javascript'>
    function loadMapScenario() {
        var map = new Microsoft.Maps.Map(document.getElementById('myMap'), {
            credentials: 'AhxI87997BAYQcNb2grNBxrU1OXahAHC7Cg827ckW1LyZHc0BnxxRCy82QrcDYvY'
        });

        var layer = new Microsoft.Maps.Layer();

        $.ajax({
            url: '/Series/LocationsData',
            method: 'GET',
            async: false,
            success: function (response) {
                console.log(response);
                response.forEach(map => {
                    if (map.location != null && map.location.latitude != null && map.location.longtitude != null) {
                        var pushpin = new Microsoft.Maps.Pushpin(new Microsoft.Maps.Location(map.location.longtitude, map.location.latitude), {
                            title: map.seriesName,
                        });
                        layer.add(pushpin);
                    }
                });
                map.layers.insert(layer);
            },
            error: function (response) {
                alert('Error was occured, please try again later', response)
            }
        })

    }
</script>
<script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?callback=loadMapScenario' async
    defer></script>
}