﻿@model NetflixBlog.Models.Series

@{

    ViewData["Trailer"] = "Pie";
}

<head>
    <style>
        .arc text {
            font: 10px sans-serif;
            text-anchor: middle;
        }

        .arc path {
            stroke: #fff;
        }
    </style>
</head>

<div class="container read-more">
    @Html.ActionLink("Back to List", "Index")
</div>

<h2 style="text-align:center;">Series Stats</h2>
<svg style="text-align:center; margin-left: 110px;" width="700" height="390"></svg>

@section Scripts{
    <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
    <script src="~/js/d3.js" asp-append-version="true"></script>
    <script src="~/js/PieChart.js" asp-append-version="true"></script>
}