﻿@model NetflixBlog.Models.Series


@{

    ViewData["Trailer"] = "Trailer";
}


<div class="container read-more">
    <a asp-action="Index">Back to list</a>
</div>

@if (!string.IsNullOrEmpty(Model.TrailerPath))
{
    <h2 style="text-align:center;">@Model.Name trailer</h2>
}
else
{
    <h2 style="text-align:center;">Trailer of @Model.Name was not found!</h2>
}

<div class="text-center">
    <section class="IFrame-container"">
        <!-- Introduction -->
        @if (!string.IsNullOrEmpty(Model.TrailerPath))
        {
            <iframe class="responsive-iframe" target="_parent" src="@Model.TrailerPath" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        }
        else
        {
            <video width="700" controls>
                <source src="@Url.Content("~/videos/globusMax.mp4")" type="video/mp4">
            </video>
        }
    </sections>
</div>
