﻿@model List<NetflixBlog.Models.Post>

<div class="read-more" style="margin-bottom:15px;">@Html.ActionLink("Back to list", "Index")</div>

@Html.Partial("Search")

<div style="margin-top: 20px; border-top: 1px solid #e5e5e5;">
    @foreach (var item in Model)
    {
        <div class="article-container">
            <ul class="one-article">
                <li>

                    <div style="display:flex; justify-content:space-between;">
                        <h3 class="card-body-title">@Html.ActionLink(item.Title, "Details", new { id = item.PostID , series = item.SeriesId }, new { @style = "text-decoration:none; color: black;" })</h3>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="read-more">
                                @Html.ActionLink("Edit", "Edit", new { id = item.PostID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.PostID })
                            </div>
                        }
                    </div>

                    <div class="article-info small-text" style="width: 40% !important;">
                        <div class="entry-date published updated">@item.Date.ToShortDateString()</div> |
                        <div class="url fn n">@item.AuthorName</div> |
                        <div style="font-weight:600;">@(item.SeriesId != null ? item.Series.Name : "")</div>
                    </div>
                    <p>@item.Content</p>
                </li>
            </ul>
        </div>
    }
</div>

