﻿@model IEnumerable<NetflixBlog.Models.SelectBySeries>

<head>
        <style>
            .axis {
                font: 10px sans-serif;
            }

            .bar {
                fill: steelblue;
            }

                .bar:hover {
                    fill: brown;
                }

            .axis path,
            .axis line {
                fill: none;
                stroke: #000;
                shape-rendering: crispEdges;
            }
        </style>
    </head>

    <div class="container read-more" ">
        @Html.ActionLink("Back to List", "Index")
    </div>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SeriesName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostsAmount)
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SeriesName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostsAmount)
                </td>
            </tr>
        }
    </table>
    <br />
    <u><b>Statistics:</b></u>
    <br />
    <svg width="480" height="250"></svg>
@*@model NetflixBlog.Models.SelectBySeries

@{

    ViewData["Index"] = "Pie";
}

<head>
    <style>
        .arc text {
            font: 10px sans-serif;
            text-anchor: middle;
        }

        .arc path {
            stroke: #fff;
        }
    </style>
</head>

<div class="container read-more">
    @Html.ActionLink("Back to List", "Index")
</div>

<h2 style="text-align:center;">Posts Stats</h2>
<svg style="text-align:center; margin-left: 110px;" width="700" height="390"></svg>

@section Scripts{
    <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
    <script src="~/js/d3.js" asp-append-version="true"></script>
    <script src="~/js/PieChart.js" asp-append-version="true"></script>
}*@