﻿@using Microsoft.Extensions.Primitives
@using System.Web.Mvc.Html
@model IEnumerable<NetflixBlog.Models.Post>

<div class="container row">
    <div class="list-inline buttons">
        @using (Html.BeginForm("GroupBySeries", "Posts"))
        {
            <input class="btn btn-lg btn-stats" type="submit" value="Posts Stats" />
            if (User.Identity.IsAuthenticated)
            {
                <p class="btn btn-lg btn-add-post" href="#" role="button">@HtmlHelperLinkExtensions.ActionLink(Html, "Add Post", "Create", null, new { @style = "color: white;" })</p>
            }
        }

    </div>
</div>

@using (HtmlHelperFormExtensions.BeginForm(Html, "Filter", "Posts", FormMethod.Post, new { @class = "form-inline" }))
{
    StringValues category;
    if (!string.IsNullOrEmpty(Context.Request.Query["postCategory"]))
    {
        category = Context.Request.Query["postCategory"];
    }
    else
    {
        category = "Category";
    }

    <h3 class="filter-title">Filter posts by</h3>
    <div class="form-group">
        @Html.DropDownList("postCategory", @Html.GetEnumSelectList<Category>(), "category", new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.TextBox("authorName", "", new { @class = "form-control", placeholder = "Author Name" })
    </div>

    <div class="form-group">
        @Html.TextBox("seriesName", "", new { @class = "form-control", placeholder = "Series Name" })
    </div>

    <input class="btn btn-search-posts" type="submit" value="Search" />
}