﻿<div class="scene">
  <div class="overlay"></div>
  <div class="overlay"></div>
  <div class="overlay"></div>
  <div class="overlay"></div>
  <span class="bg-403">403</span>
  <div class="text">
    <span class="hero-text"></span>
    <span class="msg">can't let <span>you</span> in.</span>
    <span class="support">
      <span>unexpected?</span>
      <a asp-controller="Home" asp-action="Contact">contact support</a>
    </span>
  </div>
  <div class="lock"></div>
</div>