﻿@model IEnumerable<NetflixBlog.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h1>Users</h1>

<h3 class="filter-title">Filter users by</h3>

<div style="margin-bottom: auto">
    <form asp-action="Index" method="post">
        <div class="form-row">
            <div class="form-group col-md-6">
                <input name="searchUserName" type="text" class="form-control" placeholder="User Name" />
            </div>
            <div class="form-group col-md-6">
                <input name="searchFirstName" type="text" class="form-control" placeholder="First Name" />
            </div>
            <div class="form-group col-md-6">
                <input name="searchLastName" type="text" class="form-control" placeholder="Last Name" />
            </div>
            <div class="form-group col-md-6">
                <select name="searchType" class="form-control"
                        asp-items="@Html.GetEnumSelectList<UserType>()">
                    <option value="">Select Type</option>
                </select>
            </div>
        </div>
        <input class="btn btn-search-movies" type="submit" value="Search" />
    </form>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    <a class="btn btn-search-movies" asp-action="Edit" asp-route-id="@item.UserName">Edit</a> |
                    <a class="btn btn-search-movies" asp-action="Details" asp-route-id="@item.UserName">Details</a> |
                    <a class="btn btn-search-movies" asp-action="Delete" asp-route-id="@item.UserName">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>