﻿@model NetflixBlog.Models.User

@{
	ViewData["Title"] = "Login";
}
<div class="form-horizontal">
</div>
<h2>LOGIN</h2>


@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<div>
	 <div class="form-group">
	  <label asp-for="UserName" class="control-label"></label>
	  <input asp-for="UserName" class="form-control" required/>
	 </div>
	 <div class="form-group">
	  <label asp-for="Password" class="control-label"></label>
	  <input asp-for="Password" class="form-control" required/>
	 </div>

	 <input class="btn" type="submit" id="btnLogin" value="Login" asp-action="Login" />
		@if (ViewBag.Error != null)
		{
		 <div class="alert-danger">@ViewBag.Error</div>
		}
	</div>
	<div>You don't have user yet? sign in <a asp-action="Register">here</a></div>
	<div id="success-msg" class="alert-success"></div>
}
