﻿@model NetflixBlog.Models.User

@{
    ViewData["Title"] = "Register";
}

<h1 id="haTitle" class="newUser">Register new user</h1>
<hr />
<div class="row">
    <div class="form-row">
        <form asp-action="Register">
		    @if (ViewBag.Error != null)
		    {
		        <div class="alert-danger">@ViewBag.Error</div>
		    }
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control col-md-4" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control col-md-4" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control col-md-4" required/>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control col-md-4" required/>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    Already registered?<a asp-action="Login"> click here</a> to login
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
