﻿h2,
h3 {
    font-family: fantasy;
}

.author-image {
    width: 100px;
    height: 100px;
}

p {
    font-size: 18px;
}

.authors {
    display: table;
}

.author {
    display: table-cell;
    text-align: center;
}

.author-image-container {
    margin: 10px 70px 0 0;
}

.team-title {
    margin-top: 20px;
}