﻿@import url('file:///D:\netflixblog\NetflixBlog\wwwroot\css\home_page.css');
.homepage-img {
    width: 100%;
    height: 140px;
    margin-top: 54px;
}

.netflixPic {
    height: 40px;
    width: 100px;
}

#imageWrapper {
    display: flex;
}

@keyframes turnOn {

    100% {
        text-shadow: rgb(255 255 255) 0 0 5px,
        rgb(255 255 255) 0 0 10px,
        rgb(255 144 255) 0 0 20px,
        rgb(255 144 255) 0 0 30px,
        rgb(255 144 255) 0 0 40px,
        rgb(255 144 255) 0 0 55px,
        rgb(255 144 255) 0 0 75px
    }

    80% {
        text-shadow: rgb(255 255 255) 0 0 5px,
        rgb(255 255 255) 0 0 10px,
        rgb(255 144 255) 0 0 20px,
        rgb(255 144 255) 0 0 30px,
        rgb(255 144 255) 0 0 40px,
        rgb(255 144 255) 0 0 55px
    }

    75% {
        text-shadow: rgb(255 255 255) 0 0 5px,
        rgb(255 144 255) 0 0 20px,
        rgb(255 144 255) 0 0 30px,
        rgb(255 144 255) 0 0 40px,
        rgb(255 144 255) 0 0 55px
    }
    60% {
        text-shadow: rgb(255 255 255) 0 0 5px,
        rgb(255 144 255) 0 0 20px,
        rgb(255 144 255) 0 0 30px,
        rgb(255 144 255) 0 0 40px
    }
    50% {
        text-shadow: rgb(255 144 255) 0 0 20px,
        rgb(255 144 255) 0 0 30px,
        rgb(255 144 255) 0 0 40px
    }
    40% {
        text-shadow: rgb(255 144 255) 0 0 20px,
        rgb(255 144 255) 0 0 30px
    }
    20% {
        text-shadow: rgb(255 144 255) 0 0 20px
    }
    0% {
        text-shadow: rgb(181 181 181) 0 1px 0,
        rgb(169 169 169) 0 2px 0,
        rgb(148 148 148) 0 3px 0,
        rgb(125 125 125) 0 4px 0,
        rgb(0 0 0 / 23%) 0 0 5px,
        rgb(0 0 0 / 43%) 0 1px 3px,
        rgb(0 0 0 / 40%) 1px 4px 6px,
        rgb(0 0 0 / 38%) 0 5px 10px,
        rgb(0 0 0 / 25%) 3px 7px 12px;
    }
}

@keyframes turnOff {

    0% {
        text-shadow: rgb(255 255 255) 0 0 5px,
        rgb(255 255 255) 0 0 10px,
        rgb(255 144 255) 0 0 20px,
        rgb(255 144 255) 0 0 30px,
        rgb(255 144 255) 0 0 40px,
        rgb(255 144 255) 0 0 55px,
        rgb(255 144 255) 0 0 75px
    }

    20% {
        text-shadow: rgb(255 255 255) 0 0 5px,
        rgb(255 255 255) 0 0 10px,
        rgb(255 144 255) 0 0 20px,
        rgb(255 144 255) 0 0 30px,
        rgb(255 144 255) 0 0 40px,
        rgb(255 144 255) 0 0 55px
    }

    25% {
        text-shadow: rgb(255 255 255) 0 0 5px,
        rgb(255 144 255) 0 0 20px,
        rgb(255 144 255) 0 0 30px,
        rgb(255 144 255) 0 0 40px,
        rgb(255 144 255) 0 0 55px
    }
    40% {
        text-shadow: rgb(255 255 255) 0 0 5px,
        rgb(255 144 255) 0 0 20px,
        rgb(255 144 255) 0 0 30px,
        rgb(255 144 255) 0 0 40px
    }
    50% {
        text-shadow: rgb(255 144 255) 0 0 20px,
        rgb(255 144 255) 0 0 30px,
        rgb(255 144 255) 0 0 40px
    }
    60% {
        text-shadow: rgb(255 144 255) 0 0 20px,
        rgb(255 144 255) 0 0 30px
    }
    80% {
        text-shadow: rgb(255 144 255) 0 0 20px
    }
    100% {
        text-shadow: rgb(181 181 181) 0 1px 0,
        rgb(169 169 169) 0 2px 0,
        rgb(148 148 148) 0 3px 0,
        rgb(125 125 125) 0 4px 0,
        rgb(0 0 0 / 23%) 0 0 5px,
        rgb(0 0 0 / 43%) 0 1px 3px,
        rgb(0 0 0 / 40%) 1px 4px 6px,
        rgb(0 0 0 / 38%) 0 5px 10px,
        rgb(0 0 0 / 25%) 3px 7px 12px;;
    }
}

.blog-app-bar {
    height: 60px;
    background-color: black;
    color: black !important;
    top: 0;
    -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
    box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
    z-index: 9999;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    position: fixed;
}

.blog-app-bar .nav-link a {
    -webkit-animation-name: turnOff;
    -webkit-animation-duration: 0.7s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    color: white;
    text-shadow: rgb(181 181 181) 0 1px 0,
    rgb(169 169 169) 0 2px 0,
    rgb(148 148 148) 0 3px 0,
    rgb(125 125 125) 0 4px 0,
    rgb(0 0 0 / 23%) 0 0 5px,
    rgb(0 0 0 / 43%) 0 1px 3px,
    rgb(0 0 0 / 40%) 1px 4px 6px,
    rgb(0 0 0 / 38%) 0 5px 10px,
    rgb(0 0 0 / 25%) 3px 7px 12px;


}

.blog-app-bar .nav-link a:hover {
    -webkit-animation-name: turnOn;
    -webkit-animation-duration: 0.7s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
}

.aside {
    float: left;
    display: flex;
}

.aside .nav-link{
    margin-left:20px;
}

.main-background {
    background-image: url("../images/Netflix-India.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    width: 100%;
    height: 100%;
    min-height: 524px;
    margin-top: 60px;
}
.section {
    border-top: 1px solid #d7d7d7;
    margin-top: 21px;
    padding-top: 22px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.homepage-article {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.read-more {
    text-align: start;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

    .read-more a {
        color: #820101;
    }

.read-more a:hover {
    color: #be0000;
    text-decoration: none;
}

.article-image {
    margin-bottom: 10px;
    margin-top: 10px;
    width: 65%;
    height: 170px;
}

.article-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin:5px;
}

    .svg-icon {
        max-height: 15px;
        max-width: 20px;
        margin:0 !important;
    }

/* Dropdown Button */
.dropbtn {
    background-color: #820101;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 0;
    margin: 0;
}

.dropdown-content .nav-link {
    width: 100%;
}

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        width: 100%;
        display: block;
    }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {
            background-color: #ddd
        }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
ul {
    display:flex;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #8201019e;
}
