﻿@font-face {
    font-family: 'cartoon-font';
    src: url('../../fonts/Pacifico.ttf') format('truetype');
}

.row {
    display:flex;
    justify-content:center;
}
form {
    display:table;
}
label {
    margin-right:70px;
}
.newUser {
    margin-left: 310px;
}
.text-danger {
    width: max-content;
    display: flex;
}
#UserName-error {
    display: flex;
    width: max-content;
}
#Password-error {
    display: flex;
    width: max-content;
}
#FirstName-error {
    display: flex;
    width: max-content;
}
#LastName-error {
    display: flex;
    width: max-content;
}
.form-group {
    width: 350px;
}
.form-control {
    margin-right: 22px;
    min-width: 160px;
}
#haTitle {
    text-shadow: 3px 3px #DDDDDD;
    font-family: 'cartoon-font', cursive ;
}