﻿@model NetflixBlog.Models.Tweet

@{
	ViewBag.Title = "TweetPage";
}

<div class="form-horizontal">
</div>


@if (Context.User != null && Context.User.Claims != null && Context.User.IsInRole("Admin"))
{
	<form asp-action="Create" method="post">
	 <div class="form">
	  <span asp-validation-for="TweetText" class="text-danger"></span>
	  <div>
	   <textarea asp-for="TweetText" class="col-md-4" type="text" placeholder="Text to tweet"></textarea>
	  </div>
	  <div style="display:inline-flex">
	   <div>
		<input class="btn tweet-btn" type="submit" id="btnTweet" value="Tweet" />
	   </div>
	   <canvas style="margin-top:-25px;" id="tweetCanvas" width="300" height="200"></canvas>
	  </div>
	 </div>

	 <div class="container">
			@if (ViewBag.Error != null)
			{
		  <div class="alert-danger">@ViewBag.Error</div>
			}
	  <div id="success-msg" class="alert-success"></div>
	 </div>

	 <a id="tweetLink"></a>
	</form>
}

<a class="twitter-timeline" href="https://twitter.com/ournetflixblog?ref_src=twsrc%5Etfw"
   data-aria-polite="assertive">Tweets by ournetflixblog</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

@section Scripts {
<script>
	var canvas = document.getElementById('tweetCanvas');
	if (canvas.getContext) {
		var ctx = canvas.getContext('2d');
		// Draw shapes
		ctx.beginPath();
		ctx.moveTo(75, 25);
		ctx.quadraticCurveTo(25, 25, 25, 62.5);
		ctx.quadraticCurveTo(25, 100, 50, 100);
		ctx.quadraticCurveTo(50, 120, 30, 125);
		ctx.quadraticCurveTo(60, 120, 65, 100);
		ctx.quadraticCurveTo(125, 100, 125, 62.5);
		ctx.quadraticCurveTo(125, 25, 75, 25);
		ctx.lineWidth = "1";
		ctx.strokeStyle = "black";
		ctx.font = "13px Arial";
		ctx.fillText("tweet to", 50, 40);
		ctx.fillText("OurNetflixBlog", 35, 60);
		ctx.fillText("account!", 50, 80);
		ctx.stroke();
	} else {
		alert('Not supported in this browser.');
	}
</script>
}
