@{
    ViewBag.Title = "About";
}
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<h2>ABOUT US</h2>

<p>
    Our blog provides the latest series news, series's details, new series and more. <br>
    Every week our talented team of expert writers, editors, and trend-setters researches hundreds of news stories, editorials, and reviews obsessing over all the things influencers care about most in series. <br />
    We are taking our series rating from the OMDB web service <br />
    And we have a twitter page "NetflixBlog"
</p>

<h2 class="team-title">Our Team</h2>

<div class="authors">
    <div class="author">
        <div class="author-image-container">
            <img src="~/images/Tal.jpg" width="170" class="author-image">
            <div class="author-name">Tal Gavriel</div>
            <div class="author-title">COMPANY FOUNDER</div>
            <div class="author-social-container"></div>
            <a class="author-social-link" href="https://www.facebook.com/tal.gavriel.1"><img class="author-social-image" src="~/images/facebook.jpg" width="48" height="48" alt="Tal on Facebook"></a>
        </div>

    </div>
    <div class="author">
        <div class="author-image-container">
            <img src="~/images/Shiraz.jpg" height="170" width="170" class="author-image">
            <div class="author-name">Shiraz Jacob</div>
            <div class="author-title">MANAGIN DIRECTOR</div>
            <div class="author-social-container"></div>
            <a class="author-social-link" href="https://www.facebook.com/shirazj1"><img class="author-social-image" src="~/images/facebook.jpg" width="48" height="48" alt="Shiraz on Facebook"></a>
        </div>
    </div>
    <div class="author">
        <div class="author-image-container">
            <img src="~/images/Eran.jpg" width="170" class="author-image">
            <div class="author-name">Eran Miranker</div>
            <div class="author-title">VIDEO PRODUCER</div>
            <div class="author-social-container"></div>
            <a class="author-social-link" href="https://www.facebook.com/eranmir"><img class="author-social-image" src="~/images/facebook.jpg" width="48" height="48" alt="Eran on Facebook"></a>
        </div>
    </div>
    <div class="author">
        <div class="author-image-container">
            <img src="~/images/Hovav.jpg" width="170" class="author-image">
            <div class="author-name">Hovav Birka</div>
            <div class="author-title">VIDEO PRODUCER</div>
            <div class="author-social-container"></div>
            <a class="author-social-link" href="https://www.facebook.com/profile.php?id=100000396729512"><img class="author-social-image" src="~/images/facebook.jpg" width="48" height="48" alt="Hovav on Facebook"></a>
        </div>
    </div>
</div>

