﻿@{
    ViewData["Title"] = "Home Page";
}
<div class="form-horizontal">
</div>
<h2 >LOGIN</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-inline">
        <input id="username" type="text" placeholder="Username" />
        <input id="password" type="password" placeholder="Password" />
        <input class="btn btn-search-posts" type="submit" id="btnLogin" value="Login" />
    </div>

    <div>You don't have user yet? sign in <a asp-controller="Users" asp-action="Register">here</a></div>
    <div id="error-msg" class="alert-danger"></div>
    <div id="success-msg" class="alert-success"></div>
}
